<div class="row">
  <h1>灯火辉煌处</h1>
  <% @articles.each do |article| %>
      <div class="row">
        <div class="col-small-5"><label>标题</label> </div>
        <div class="col-small-7"> <%= article.title %> </div>
      </div>
      <div class="row">
        <div class="col-small-7">
        <%= article.text %>
      </div>
      </div>
      </br>
  <% end %>
</div>
