<div class="row">
  <h1 class="text-center">添加微博</h1>
  <%= form_for @article do |f| %>
    <div class="col-small-5 text-right"> <label>标题</label></div>
      <div class="col-samll-7"> <%= f.text_field :title,size:30 %></div>

</div>
      <div class="row">
        <div class="col-small-5 text-left">
          <label>内容</label>
        </div>
      </div>
      <div class="row">
        <div class="col-small-7">
          <%= f.text_area  :text,cols: 100, rows: 20 , wrap: "hard" %>
        </div>
      </div>
      <div class="row">
        <div class="col-small-2-offset-2 end"> <%= submit_tag '添加' %></div>
      </div>
  <% end %>
